# Folder
/paper
/output
/doc

# Data
*.csv
*.json
*.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Tor
*tor-win32-0.4.3.6
*tor_config

# develop env
/.venv
/.vscode

# Other
*.ini
*.exe
*.dll
*.png